<!DOCTYPE html>
<html>
<head>
<title>dispatch.html</title>

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">

<link href="/media/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="/media/css/bootstrap-responsive.min.css" rel="stylesheet"
	type="text/css" />

<link href="/media/css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />

<link href="/media/css/style-metro.css" rel="stylesheet" type="text/css" />

<link href="/media/css/style.css" rel="stylesheet" type="text/css" />


<!--表格  -->
<link rel="stylesheet"
	href="/plugins/bootstrap-table/bootstrap-table.css">
<style type="text/css">

</style>
</head>

<body >
<div style="padding: 0px 20px">

	<!-- BEGIN PAGE HEADER-->

	<div class="row-fluid" >

		<!-- 删除掉排版会乱 -->
		<div class="span12">

			<!-- BEGIN STYLE CUSTOMIZER -->

			<div class="color-panel hidden-phone">

				<div class="color-mode-icons icon-color-close"></div>

			</div>

			<!-- END BEGIN STYLE CUSTOMIZER -->

			<!-- BEGIN PAGE TITLE & BREADCRUMB-->

			<h3 class="page-title">
				<!-- 大标题 -->
				任务池管理
				<!-- 小标题 -->
				<small>看板</small>

			</h3>

			<!-- <ul class="breadcrumb">

				<li><i class="icon-home"></i> <a href="">看板</a> <i
					class="icon-angle-right"></i></li>

				<li><a href="">任务池管理</a></li>



			</ul> -->

			<!-- END PAGE TITLE & BREADCRUMB-->

		</div>

	</div>
	<!-- END PAGE HEADER-->
	<!-- 页面主体内容 -->
	<div id="dashboard">
		<!-- 编辑栏1 -->
		<div id="edit_content_div" style="display: none;">
			<div class="portlet-body form" style="padding: 20px">
				<h3 class="form-section" id="edit_content_title">任务池明细</h3>
				<!-- 表格 -->
				<div class="table-responsive" style="overflow: scroll;height: 280px;">
					<table id="pool_manage" class="table text-nowrap"></table>
				</div>
			</div>
		</div>
		<!-- 编辑栏2 -->
		<div id="edit_content_div2" style="display: none;">
			<div class="portlet-body form" style="padding: 20px;">
				<h3 class="form-section" id="edit_content_title">设备列表</h3>
				<!-- 表格 -->
				<div class="table-responsive" style="overflow: scroll;height: 280px;">
					<table id="device_manage" class="table text-nowrap"></table>
				</div>
			</div>
		</div>

		<!-- 表格 -->
		<div class="table-responsive" style="overflow: scroll;">
			<table id="manage_table" class="table text-nowrap"></table>
		</div>
	</div>
	<script src="/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<!-- 弹窗 遮罩层 -->
	<script type="text/javascript" src="/plugins/layer/layer.js"></script>
	<!--表格-->
	<script type="text/javascript"
		src="/plugins/bootstrap-table/bootstrap-table.js"></script>
	<script src="/modules/common/common.js" type="text/javascript"></script>
	<script src="/modules/border/dispatch_index.js" type="text/javascript"></script>
	<script type="text/javascript">
  		
  		
  		
  	</script>
</div>
</body>
</html>