<!DOCTYPE html>
<html style="height: 100%; width: 100%;">
<head>
<title>总控页面</title>

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">

<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
<link href="/media/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<style type="text/css">
body {
	font-family: "Microsoft YaHei";
	color: white;
}

#table_title {
	color: black;
	text-align: center; /*让div内部文字居中*/
	background-color: #fff;
	border-radius: 20px;
	width: 300px;
	line-height: 30px; /*让黄色div中的文字内容垂直居中*/
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

#table_title h4 {
	background-color: #fff;
	margin: 0px;
	padding: 2px 2px 2px 15px;
}

#table_body {
	
}
</style>
</head>

<body>
	<div class="table_title">
		<h4 >项目总控页面</h4>
	</div>
	<div id="body"></div>
</body>
</html>
